{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "ignoreFiles": ["**/*.d.ts"],
  "overrides": [{
    "files": ["**/*.{js.jsx}"],
    "customSyntax": "@stylelint/postcss-css-in-js"
  }]
}